#identity{background: #e4e7ea;position: absolute;width: 100%;height: 100%;}
/*基于bootstrap样式*/
#identity .cl_navbarBgColor{
	background: #fff;
	height: 50px;
}
#identity .cl_fadeinleft{
	-webkit-animation: fadeinleft 1.5s;
	animation: fadeinleft 1.5s;	
}
#identity .bracketsStyle{
	color:#1caf9a;
}
#identity .cl_navbarWid li{
	border-left:1px solid #eee;	
}
#identity .cl_navbarWid li a{
	color:#636e7b;
	/*min-width: 124px;*/
	text-align: center;
}
#identity .cl_navbarWid .cl_userPic{
	position: relative;
	float: left;
	top: -3px;
	padding: 0px 10px;
}
#identity .cl_navbarWid .cl_userPic img{
	width: 27px;
	height: 27px;
}
#identity .cl_navbarWid span{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
#identity .cl_navbarWid span.cl_qqserverIcon{
	background: url('../images/member_Icons.png') no-repeat 0px -142px;
}
#identity .cl_navbarWid span.cl_telIcon{
	background: url('../images/member_Icons.png') no-repeat -24px -142px;
}
#identity .cl_navbarWid span.cl_quitIcon{
	background: url('../images/member_Icons.png') no-repeat -48px -142px;
}
#identity .cl_navbarWid i{
	color:#d9534f;
	font-style: normal;
	font-weight: bold;
}
#identity .cl_sidebarBg{
	background: #1d2939;
}
#identity .cl_sidebarTit{
	color: #8f939e;
	line-height: 35px;
	border-radius: 5px;
}
#identity .cl_sidebarMenuList{
	cursor: pointer;
	margin-bottom: 5px;
	overflow: hidden;
}
#identity .cl_sidebarMenuList:hover .cl_sidebarTit{
	background-color: #1caf9a;
	color: #fff;
}
#identity .cl_sidebarTit span{
	display: inline-block;
	width: 21px;
	height: 17px;
	vertical-align: middle;
	position: relative;
	top: -2px;
	margin: 0px 10px;
	-webkit-animation: fadeinleft .9s;
	animation: fadeinleft .9s;
}
@-webkit-keyframes fadeinleft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeinleft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
#identity .cl_sidebarTit span.cl_identityIcon{
	background: url('../images/member_Icons.png') no-repeat 0px -51px;
}
#identity .cl_sidebarTit span.cl_createIcon{
	background: url('../images/member_Icons.png') no-repeat -22px -51px;
}
#identity .cl_sidebarTit span.cl_usercenterIcon{
	background: url('../images/member_Icons.png') no-repeat -45px -51px;
}
#identity .cl_sidebarTit span.cl_orderIcon{
	background: url('../images/member_Icons.png') no-repeat -66px -51px;
}
#identity .cl_sidebarTit span.cl_fundsIcon{
	background: url('../images/member_Icons.png') no-repeat -89px -51px;
}
#identity .cl_sidebarTit:hover span.cl_identityIcon{
	background: url('../images/member_Icons.png') no-repeat 0px -70px;
}
#identity .cl_sidebarTit:hover span.cl_createIcon{
	background: url('../images/member_Icons.png') no-repeat -22px -71px;
}
#identity .cl_sidebarTit:hover span.cl_usercenterIcon{
	background: url('../images/member_Icons.png') no-repeat -45px -71px;
}
#identity .cl_sidebarTit:hover span.cl_orderIcon{
	background: url('../images/member_Icons.png') no-repeat -66px -71px;
}
#identity .cl_sidebarTit:hover span.cl_fundsIcon{
	background: url('../images/member_Icons.png') no-repeat -89px -71px;
}
#identity .cl_sidebarTit i{
	font-style: normal;
	float: right;
	font-weight: bold;
	padding-right: 10px;
}
#identity .cl_sidebarMenu ul{
	padding-left: 40px;
}
#identity .cl_sidebarMenu ul li{
	margin: 5px 0px;
	cursor: pointer;
}
#identity .cl_sidebarMenu ul li i{
	background: url('../images/member_Icons.png') no-repeat -114px -55px;
	display: inline-block;
	width: 6px;
	height: 8px;
	margin-right: 10px;
}
#identity .cl_sidebarMenu ul li a{
	font-size: 12px;
	color:#8f939e;
}
#identity .cl_sidebarMenu ul li a:hover{
	text-decoration: none;
	color:#1caf9a;
}
#identity .cl_sidebarOn .cl_sidebarTit span.cl_identityIcon{
	background: url('../images/member_Icons.png') no-repeat 0px -70px;
}
#identity .cl_sidebarOn .cl_sidebarTit span.cl_createIcon{
	background: url('../images/member_Icons.png') no-repeat -22px -71px;
}
#identity .cl_sidebarOn .cl_sidebarTit span.cl_usercenterIcon{
	background: url('../images/member_Icons.png') no-repeat -45px -71px;
}
#identity .cl_sidebarOn .cl_sidebarTit span.cl_orderIcon{
	background: url('../images/member_Icons.png') no-repeat -66px -71px;
}
#identity .cl_sidebarOn .cl_sidebarTit span.cl_fundsIcon{
	background: url('../images/member_Icons.png') no-repeat -89px -71px;
}
#identity .cl_sidebarOn .cl_sidebarTit{
	color:#fff;
	background-color: #1caf9a;
}
#identity .cl_sidebarMenu{
	display: none;
}
#identity .cl_sidebarOn .cl_sidebarMenu{
	display: block;
}
#identity .cl_identityMain{
	width: 100%;
}
#identity .cl_identityMainHeader{
	height: 73px;
	background: #f7f7f7;
	border-bottom: 1px solid #d3d7db;
}
#identity .cl_pd0{
	padding:0;
}
#identity .cl_identityTit{
	float: left;
	font-size: 24px;
	color:#1d2939;
	margin-top: 18px;
}
#identity .cl_identityTit .cl_identityIcon{
	width: 42px;
	height: 42px;
	margin: 0px 15px;
	display: inline-block;
	vertical-align: middle;
	background: url('../images/member_Icons.png') no-repeat 0px -93px;
	position: relative;
	top: -3px;
}
#identity .cl_identityMainCon{
	margin:20px;
	background: #fff;
	min-height: 100px;
	border-radius: 2px;
	box-shadow: 4px 3px 2px #cdcdcd;
}
#identity .cl_identityMainCon .cl_identityMainConTit{
	font-size: 18px;
	color:#111;
	height: 64px;
	border-bottom: 1px solid #e7e7e7;
	overflow: hidden;
	padding-left: 36px;
	line-height: 64px;
}
#identity .cl_identityMainCon .cl_identityMainInner{
	width: 810px;
	margin: 0 auto;
	margin-top: 40px;
}
#identity .cl_identityMainInner ul li{
	margin-bottom: 35px;
	font-size: 14px;
}
#identity .cl_identityMainInner li label{
	color:#4a535e;
	width: 70px;
	text-align: right;
	margin-right: 20px;
}
#identity .cl_identityMainInner li span{
	color:#d9534f;
	margin-left: 5px;
}
#identity .cl_identityMainInner li .cl_identityInput{
	width: 663px;
	height: 43px;
	line-height: 43px;
	outline: none;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #ccc;
	padding-left: 5px;
}
#identity .cl_identityBtnWrap{
	padding-left: 90px;
	margin-top: 130px;
}
#identity .cl_identityBtnWrap .cl_identityBtnInfo{
	font-size: 14px;
	color:#666;
	margin-bottom: 10px;
}
#identity .cl_identityBtnWrap .cl_identityBtnInfo span{
	width: 15px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	background: url('../images/member_Icons.png') no-repeat -2px -163px;
	margin-right: 10px;
	position: relative;
	top: -2px;
}
#identity .cl_identityBtnWrap .cl_identityBtn{
	width: 668px;
	height: 43px;
	line-height: 40px;
	outline: none;
	border-radius: 2px;
	background: #1caf9a;
	text-align: center;
	color:#fff;
	outline: none;
	border: none;
}



